# Première analyse du dataset

## Quelques informations sur les données

L’objectif est de développer **un modèle performant** pour prédire la **variable Output** en fonction des **autres variables pertinentes**. La plupart des variables ont un nom décrivant l’information contenue.

 

**Quelques informations :**

* Les variables finissant en _M : variables calculées au mois M
* Les variables finissant en _MY : variables calculées au mois M-Y
* Les variables finissant en _XM : variables calculées sur les mois M-X au mois M

### Librairies pour l'analyse

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [7]:
df = pd.read_csv('Dataset_test_ILB.csv',encoding="latin1",sep=';')
# Encodage latin1 car le fichier n'est pas encodé en UTF8

In [9]:
df.head()

,ID,Nombres_adultes,Nombre_personnes_foyer,Age_2eme_personne,Note_credit,Encours_credit,ID_PP,Encours_credit_habitat,Montant_flux_crediteur_M1,Montant_obligations,...,Nombre_retrait_carte_M1,"Nombre_retrait_carte_M1,1",Quantité_obligations,Nombre_connexion_appli_6M,Nombre_de_connexion_appli_semaine_6M,Nombre_connexion_site_6M,Duree_connexion_moyenne_6M,Montant_flux_crediteur_M,Montant_pret_banque,Output
0,2911,"2,057429931","2,070879807","91,04284818","0,177448367","4715,49819",732f2de9240c404122f8c97b952c4cb8be8ede7f,"2772,907651","9005,374276","5897,737602",...,"0,160536786","0,094455723","262736,7614","46,68337207","41,18448004","48,05730275","28,81190585","5757,583993","124370,2918",FAUX
1,1398,"2,060714918","2,193721902","90,7154133","-0,062707832","6584,320922",1cc77d640ec2c383bef7099ff331d2ae962fd712,"7094,588072","5047,824214","55655,44603",...,"-0,172851471","-0,170337912","157962,6467","6,806367741","9,210575441","12,02795536","-8,664351282","2825,730247","130015,46",FAUX
2,1793,"1,930471705","1,946846521","90,58855389","-0,094437524","-7792,256696",34d7809e534d6e7d83e1439cd4032201386fe9dd,"-7613,883523","-692,8522082","2277,193995",...,"-0,037879598","-0,086624512","-26034,01144","3,44276101","4,98890369","7,072354095","-21,1357959","1679,601033","130904,7126",FAUX
3,1193,"1,963631102","1,916676651","89,30001213","-0,286729109","6118,791869",1539c6f04d9403928ef4e5b662490bd4787ad71d,"5874,214001","1408,588664","8280,325647",...,"0,994902493","0,00114801","336491,2533","-6,298359226","-7,873856797","-9,758805513","-6,232009442","4059,963478","123729,3778",FAUX
4,1342,"2,009753607","2,019891505","87,70616131","0,284324612","-4266,843489",27524f055875f70d102006ee6dcb360e982c4a69,"-4459,202674","-889,296675","59977,52197",...,"-0,02704452","0,080713712","-10631,26532","3,056276937","4,414499612","5,862660396","-28,52016184","1719,696619","126770,7544",FAUX